@font-face {
    font-family: norseBold;
    src: url(Norsebold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    --logo-text: white;
    --button-background: #596D48;
    --input-border: #E5E7EB;
    --shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    margin: 0 27rem;
    background-color: rgb(0, 12, 0);
}

.logo-section {
    position: relative;
    flex: 3;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;


    & .heading {
        display: flex;
        margin-top: calc(10rem + 5vh);
        padding: 1rem 0;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.60) ;
        font-family: norseBold, sans-serif;
        font-size: 4rem;
        color: var(--logo-text);

        & img {
            width: 4rem;
        }
    }

    & .footer {
        position: absolute;
        bottom: 0;
        color: var(--logo-text);
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
        font-size: calc(1rem - 3px);

        & a {
            color: var(--logo-text);
        }
    }
}


.content-container {
    flex: 5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 246, 250);

    & .header-section {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 5rem;
        font-weight: bold;

        & :last-child {
            padding-top: 1rem;
        }

    }

    & .form-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 5rem;
        padding: 1rem 5rem 2rem 2rem;
        background-color: white;
        box-shadow: var(--shadow);
    }
        & p {
            padding-bottom: 1rem;
        }

        & .form-wrapper {
            display: flex;

            & .col {
                display: flex;
                flex: 1;
                flex-direction: column;
                
                & label {
                    font-size: calc(1rem - 5px);
                }

                & input:invalid {
                    border: 1px solid red;
                }

                & input:focus {
                    border: 1px solid blue;
                    box-shadow: var(--shadow);
                }

                & input {
                    outline: none;
                    width: 75%;
                    height: 1.5rem;
                    margin: 0 1rem 1rem 0;
                    border: 1px solid var(--input-border);
                    border-radius: 5px;
                }
            }

        }
    & .footer-section {
        padding: 2rem 5rem 0 2rem;
        flex: 2;

        & button {
            width: 10rem;
            height: 2rem;
            margin-bottom: 2rem;
            background-color: var(--button-background);
            border: 1px solid var(--button-background);
            border-radius: 5px;
            color: var(--logo-text);
            box-shadow: var(--shadow)

        }

        & .subtext {
            font-size: calc(1rem - 5px)
        }
    }
}